.main {
  display: flex;
  justify-content: space-between;
}

.diagram {
  display: flex;
  margin: 0 30px;
  width: 100%;
}

.bar {
  position: relative;
  width: 1px;
  flex-grow: 1;
  margin: 0 1px;
  height: 100px;
}

.barLabel {
  bottom: -25px;
  left: -15px;
  right: -15px;
  position: absolute;
  z-index: 2;
  color: var(--black);
  font-weight: 700;
  text-align: center;
}

.settings {
  width: 400px;
  min-width: 400px;
  height: calc(100vh - 80px);
  background-color: var(--bg0);
  padding: 60px 40px;
  border: var(--border) solid 1px;
  display: flex;
  flex-direction: column;
}

.settings > * {
  margin-bottom: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.control > * {
  margin-bottom: 5px;
}