.main {
  height: 100vh;
  background-color: var(--bg1);
}

.navbar {
  display: flex;
  padding: 0 35px;
  background-color: var(--darkblue);
  width: 100vw;
  line-height: 80px;
}

.navbar > * {
  color: var(--white);
  cursor: pointer;
  padding: 0 5px;
}

.navbar > *:hover {
  color: var(--grey);
}

.brand {
  font-weight: 600;
}

.divider {
  
}