.main {
  height: 100vh;
  background-color: var(--bg1);
}

.navbar {
  display: flex;
  padding: 0 35px;
  background-color: var(--l-darkblue);
  width: 100vw;
}

.navbar > * {
  color: var(--white);
  cursor: pointer;
  padding: 0 5px;
}

.navbar > p {
  cursor: default;
  line-height: 80px;
}

.navbar > a {
  line-height: 80px;
}

.navbar > a:hover {
  color: var(--white);
  filter: brightness(90%);
}

.brand {
  font-weight: 600;
}

.algosDropdown {
  background-color: transparent;
  color: var(--white);
  border: none !important;
  outline: none !important;
  font-weight: 600;
  padding: 0;
}

.algosDropdown {
  color: var(--white);
  filter: brightness(90%);
}